.sidenav {
    background-color: #404040;
    padding: 15px;
}

.content {
    padding: 16px;
    background-color: white;
    
    
}

.dark{
    color: white;
  }

.grey{
    background-color: #333333;
}