<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav grey" mode="side" opened fixedInViewport="true" fixedTopGap="64" fixedBottomGap="64">
        <mat-nav-list  class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons dark" >
                    home
                </i>
                <div style="padding-left: 5px;" class="dark">
                    Home
                </div>                
            </a>
            <a mat-list-item routerLink="/cards">
                <i class="material-icons dark">
                    storefront
                </i>
                <div style="padding-left: 5px;" class="dark">
                    Cards
                </div>                         
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>