<mat-card class="grey">
    <mat-card-title>  Change Card</mat-card-title>
</mat-card><br>

<form class="padding">
    <mat-form-field>
        <input matInput placeholder="Name" 
        [(ngModel)]="card.name" name="name"> 
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Price (R$)"
        [(ngModel)]="card.price" name="price">
    </mat-form-field>
</form>
<mat-card>
    <button mat-raised-button color="primary" (click)="updateCard()" class="button">
        Save
    </button>

    <button mat-raised-button color="warn" (click)="cancel()" class="button">
        Cancel
    </button>
    
</mat-card>
